<div class="round centered">
  <h1 class="green left">Login</h1>
  <span class="right">Don't have a <b><span class="green">photo</span><span class="blue">Natic</span></b> account? <%= link_to "create one!", register_path %></span>
  <div class="clearfix"></div>
  <%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="field">
      <div class="label"><%= f.label :email %></div>
      <div class="input"><%= f.text_field :email %></div>
    </div>
    <div class="field">
      <div class="label"><%= f.label :password %></div>
      <div class="input"><%= f.password_field :password %><span class="right">Forgot your password? <%= link_to "retrieve it!", root_path %></span></div>
    </div>
    <div class="actions">
      <%= f.submit "Continue" %>
    </div>
  <% end %>
</div>
