<div class="round centered">
  <h1 class="green left">Register</h1>
  <span class="right">Already have a <b><span class="green">photo</span><span class="blue">Natic</span></b> account? <%= link_to "log in!", login_path %></span>
  <div class="clearfix"></div>
  <%= form_for @user do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Register" %>
    </div>
  <% end %>
</div>
