<div class="round centered">
  <h1 class="green left">Register</h1>
  <span class="right">Already have a <b><span class="green">photo</span><span class="blue">Natic</span></b> account? <%= link_to "log in!", login_path %></span>
  <div class="clearfix"></div>
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <div class="label"><%= f.label :email %></div>
      <div class="input"><%= f.text_field :email %></div>
    </div>
    <div class="field">
      <div class="label"><%= f.label :username %></div>
      <div class="input"><%= f.text_field :username %></div>
    </div>
    <div class="field">
      <div class="label"><%= f.label :password %></div>
      <div class="input"><%= f.password_field :password %></div>
    </div>
    <div class="field">
      <div class="label"><%= f.label :password_confirmation, "Confirmation" %></div>
      <div class="input"><%= f.password_field :password_confirmation %></div>
    </div>
    <div class="actions">
      <%= f.submit "Register" %>
    </div>
  <% end %>
</div>
